@model WebUI.Models.Blocks.BannerBlock

@if (Model != null)
{
    <div class="banner @Model.ClassName">
        <div class="container mb-2">
            <div class="row">
                <div class="col-md-12">
                    <a href="@Model.Url">
                        <img src="@Model.Image" alt="Banner" class="w-100" loading="lazy" />
                    </a>
                </div>
            </div>
        </div>
    </div>
}