<div class="flex justify-center border rounded">
    <div class="text-center p-4">
        <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/v2/assets/search.svg" alt="Empty" class="mb-4" />
        <div class="text-gray-500">
            Không có dữ liệu!
        </div>
    </div>
</div>