:root {
    --primary: #00387a;
    --danger: #dc3545;
    --darka: #005a9c;
    --dark: #00387a;
    --darko: #0e1f4b;
    --red: #D02929;
    --ueni: #2e74dd;
    --uwhite: #fff;
    --bs-body-font-family: "Inter", serif;
}

a {
    text-decoration: none;
    color: var(--ueni);
}

main a {
    color: var(--ueni);
}

input:focus {
    outline: none;
}

.dropdown-menu {
    --bs-dropdown-border-color: transparent;
}

.main-menu {
    background-color: var(--dark);
}

    .main-menu .nav-link {
        color: #fff;
    }

    .main-menu .dropdown-menu,
    .top-menu .dropdown-menu {
        background: var(--dark);
        margin-top: 0;
        border-radius: 0;
    }

        .main-menu .dropdown-menu a,
        .top-menu .dropdown-menu a,
        .main-menu a:focus,
        .top-menu a:focus {
            color: #fff;
        }

            .main-menu .dropdown-menu a:hover,
            .top-menu .dropdown-menu a:hover {
                color: var(--uwhite);
                background: var(--darko);
            }

.top-menu .dropdown-menu {
    padding: 0;
}

.post p {
    margin: 0.5rem 0;
}

.post ul {
    list-style: disc;
    padding: 0 40px;
}

    .post ul ul {
        list-style: circle;
    }

.masonry {
    column-count: 1;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

    .masonry figure {
        break-inside: avoid;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 1rem;
    }

.footer {
    background-color: var(--dark);
    color: #fff;
    padding-top: 2rem;
}

    .footer svg,
    .title svg {
        display: unset;
    }

.footer-divide {
    border-top: 1px solid #979797;
    opacity: 0.2;
}

.footer-bottom-link {
    padding-top: 1rem;
    text-transform: uppercase;
}

    .footer-bottom-link a {
        padding: 0 1rem;
        text-decoration: none;
        color: #fff;
    }

.footer-copyright {
    padding-top: 1rem;
    opacity: 0.7;
}

.title {
    padding: 0.5rem 0 0.25rem 0;
    font-weight: 600;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--bs-gray-200);
    position: relative;
    text-transform: uppercase;
}

    .title::after {
        content: '';
        background-color: var(--primary);
        width: 30%;
        display: block;
        height: 2px;
        position: absolute;
        bottom: -2px;
    }

    .title.affiliate.mb-1::after {
        content: '';
        background-color: var(--primary);
        width: 20%;
        display: block;
        height: 2px;
        position: absolute;
        bottom: -2px;
    }


    .title.active::after {
        color: #fff;
        background-color: red;
    }

.box {
    border: 1px solid #e1e1e1;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
    height: 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .box:hover {
        background-color: #fafafa;
    }

    .box .icon {
        font-size: 1.125rem;
    }

.carousel-item img {
    height: 200px;
    object-fit: cover;
}

.nav-brand {
    background-color: var(--red);
}

.top-menu {
    margin-bottom: 0.5rem;
}

    .top-menu .nav {
        background-color: var(--dark);
    }

    .top-menu a {
        color: #fff;
        font-weight: 500;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

        .top-menu a:hover {
            color: #fff;
        }

    .top-menu .nav-item:hover {
        background-color: var(--red);
        transition: all;
        transition-duration: 500ms;
    }

.top-menu-category {
    padding-right: 3rem;
}

    .top-menu-category .nav-item:first-child {
        background-color: var(--red);
    }

.main-menu .nav-link {
    padding: 0.5rem;
}

    .main-menu .nav-link:hover {
        background-color: var(--red);
        transition: all;
        transition-duration: 500ms;
    }

.navbar {
    padding: 0;
}

#myTab .nav-item {
    background-color: #eee;
}

#myTab .nav-link {
    width: 100%;
    font-weight: bold;
    color: var(--dark);
}

    #myTab .nav-link.active {
        background-color: var(--dark);
        color: white;
    }

.dropdown {
    position: unset;
}

li.dropdown:hover .dropdown-menu {
    display: block !important;
}

.dropdown-mega li {
    flex: 1;
}

.dropdown-mega.show,
li.dropdown:hover .dropdown-mega {
    display: none !important;
    justify-content: space-between;
    font-size: 0.875rem;
    left: 0;
    right: 0;
}

.dropdown-mega .header {
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: block;
}

.dropdown-mega .mega-stack li a {
    padding: 0.5rem 1rem;
    display: block;
}

.ql-editor .ql-video {
    width: 100%;
    height: 230px;
}

.shadow {
    box-shadow: 0px 0px 40px rgba(29, 58, 83, .15) !important;
}

.list-group-item.active {
    background-color: var(--red);
    border-color: var(--red);
}

    .list-group-item.active a {
        color: white;
    }

.statistics {
    background: linear-gradient(0deg, rgb(51 91 160 / 95%), rgb(51 91 160 / 95%)), url(imgs/bg-statistics.png);
    min-height: 220px;
    background-size: cover;
    position: relative;
    padding: 3rem 0;
    color: white;
}

    .statistics .grid {
        gap: 1rem;
    }

    .statistics .flex {
        justify-content: center;
        align-content: center;
    }

        .statistics .flex:last-child {
            border-right: 0;
        }

    .statistics .head {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }

    .statistics .des {
        text-align: center;
    }

.navbar-toggler {
    --bs-navbar-color: white;
}

.offcanvas {
    --bs-offcanvas-width: 250px;
    --bs-offcanvas-bg: var(--primary);
}

.h1 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
}

.h2 {
    font-size: 1.25rem;
    color: var(--primary);
    font-weight: bold;
}

.bg-primary {
    --bs-primary-rgb: 0, 56, 122;
}

.text-primary {
    --bs-primary-rgb: 0, 56, 122;
}

.or::after {
    content: "";
}

.or--x::before,
.or--x::after {
    position: relative;
    border-top: 2px solid var(--danger);
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 0.15em;
    overflow: hidden;
}

.or--x::before {
    right: 0.5em;
    margin-left: -50%;
}

.or--x::after {
    margin-right: -50%;
    display: block;
    width: 100%;
}

.TinyMCE {
    overflow: auto;
}

    .TinyMCE td {
        border: 1px solid #d1d1d1;
        padding: 0.5rem 1rem;
    }

.divider {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--danger);
    font-weight: bold;
}

.sponsor {
    padding: 1rem 0;
    overflow: hidden;
}

    .sponsor .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        object-fit: contain;
    }

.side-gallery .swiper-slide img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.btn-outline-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-weight: 500;
    --bs-border-radius: 0;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-border-width: 2px;
}

.carousel-overlay {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .3s ease-in-out;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

    .carousel-overlay .carousel-caption {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .carousel-overlay .carousel-caption p {
            color: #BBB;
            font-size: 0.875rem;
        }

.carousel__overlay--delimiter {
    height: 1px;
    background-color: #eee;
    width: 10rem;
    margin-bottom: 0.25rem;
}

.carousel-overlay h5 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media screen and (min-width: 768px) {
    .h1 {
        font-size: 1.5rem;
    }

    .divider {
        font-size: 2rem;
        overflow: hidden;
    }

    .carousel-overlay h5 {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .carousel-overlay .carousel-caption p {
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }

    .or--x::before,
    .or--x::after {
        border-top: 4px solid var(--danger);
    }

    .or--x::before {
        content: "";
        right: 0.5rem;
        display: inline-block;
        width: 50%;
    }

    .or--x::after {
        left: 0.5rem;
        display: inline-block;
        width: 50%;
    }

    .carousel-item img {
        height: 410px;
    }

    .main-menu .nav-link {
        padding: 1rem;
    }

    .dropdown-mega.show,
    li.dropdown:hover .dropdown-mega {
        display: flex !important;
        position: absolute;
    }

    .statistics .flex {
        border-right: 4px solid #fff;
    }

    .top-menu a {
        padding: 0.5rem 1rem;
    }

    .side-gallery .swiper-slide img {
        height: 400px;
    }

    .masonry {
        column-count: 3;
    }
}

@media screen and (min-width: 1200px) {

    .ql-editor .ql-video {
        width: 650px;
        margin: auto;
        height: 400px;
    }

    .masonry {
        column-count: 4;
    }
}

@media screen and (max-width: 768px) {

    .carousel-caption {
        padding-bottom: 0;
        right: 0;
        left: 0;
    }

    .carousel-indicators {
        margin-bottom: 0;
    }
}

.triangle-overlay-above {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 120px solid #66aaf3;
    border-right: 100px solid transparent;
    z-index: 50;
}

.triangle-overlay-below {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 140px solid #b3d7ff;
    border-right: 120px solid transparent;
    z-index: 49;
}

.logo {
    width: 50%;
    padding: 20px 20px 0px 100px;
}

.header-banner {
    width: 50%;
    margin-left: auto;
    margin-right: 0px;
}

.main-menu-slogan {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.text-slogan {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: time new romna;
    color: red;
}

.searchBox {
    width: 50%;
}

.formSearch {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.info-header {
    display: flex;
    gap: 25px;
    justify-content: right;
    align-items: center;
}

@media (max-width: 768px) {
    .info-header {
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
    }

    .flex.gap-8 {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
    }

    .gap-8 {
        font-size: 0.85rem;
    }

    .gap-8,
    .gap-14 {
        gap: 0px !important;
    }

    .contact {
        display: none;
    }

    .logo {
        width: 100%;
        padding: 0.5rem 1rem;
    }

    .searchBox {
        display: none;
    }

    .text-slogan {
        width: 100%;
        font-size: 18px;
    }

    .triangle-overlay-above,
    .triangle-overlay-below {
        display: none;
    }
}
