@model ApplicationCore.Entities.Banner

<div class="container">
    <div class="flex items-center justify-between">
        <div class="logo">
            <a href="/" aria-label="Logo">
                <img src="@Model.Image" alt="LOGO" />
            </a>
        </div>
    </div>
</div>