@model ApplicationCore.Entities.Banner

<div class="w-[100%]">
    <div class="flex items-center justify-between">
        <div class="logo">
            <a href="/" aria-label="Logo">
                <img src="@Model.Image" alt="LOGO" />
            </a>
        </div>
        <div class="w-[38%] pt-[20px] hidden md:flex">
           <img src="~/img/HuanChuong.png"/>
        </div>
    </div>
</div>