@using ApplicationCore.Entities
@*@model IEnumerable<Menu>*@

@{
    Layout = null;
}

@*@if (Model != null && Model.Count() > 0)
{*@
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="http://tuyensinh.dhhp.edu.vn/" class="nav-link link-dark px-2 active">Tuyển sinh 2021</a></li>
                <li class="nav-item"><a href="http://60nam.dhhp.edu.vn/" class="nav-link link-dark px-2">Website 60 năm</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Cổng đào tạo</a></li>
                <li class="nav-item"><a href="http://dhhp.edu.vn/?page_id=3770" class="nav-link link-dark px-2">Ba công khai</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Website thành viên</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="/admin" class="nav-link link-dark px-2">Đăng nhập/Đăng ký</a></li>
            </ul>
        </div>
    </nav>
@*}*@