:root {
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-400: #9CA3AF;
    --gray-800: #1F2937;
    --blue-400: #60A5FA;
    --blue-600: #2563EB;
    --red-500: #EF4444;
    --yellow-400: #FBBF24;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}

.block {
    display: block;
}

.bg-gray-100 {
    background-color: var(--gray-100);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-gray-800 {
    background-color: var(--gray-800);
}

.bg-white {
    background-color: #FFF;
}

.border {
    border-width: 1px;
}

.border-r {
    border-right-width: 1px;
}

.border-t {
    border-top-width: 1px;
}

.border-l {
    border-left-width: 1px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-gray-400 {
    border-color: var(--gray-400);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.font-bold {
    font-weight: bold;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.h-screen {
    height: 100vh;
}

.h-40 {
    height: 10rem;
}

.hover\:bg-gray-100:hover {
    background-color: var(--gray-100);
}

.hover\:bg-red-500:hover {
    background-color: var(--red-500);
}

.hover\:border-blue-600:hover {
    border-color: var(--blue-600);
}

.hover\:text-blue-600:hover {
    color: var(--blue-600);
}

.hover\:text-white:hover {
    color: white;
}

.items-center {
    align-items: center;
}

.m-0 {
    margin-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.object-fit-cover {
    object-fit: cover;
}

.opacity-0 {
    opacity: 0;
}

.opacity-25 {
    opacity: 25;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.w-1\/2 {
    width: 50%;
}

.w-1\/4 {
    width: 25%;
}

.w-3\/4 {
    width: 75%;
}

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.w-12 {
    width: 3rem;
}

.w-16 {
    width: 4rem;
}

.w-20 {
    width: 5rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-white {
    color: #fff;
}

.text-gray-400 {
    color: var(--gray-400);
}

.text-blue-400 {
    color: var(--blue-400);
}

.text-blue-600 {
    color: var(--blue-600);
}

.text-yellow-400 {
    color: var(--yellow-400);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

    .trigger:hover {
        color: #1890ff;
    }

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-800); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }