@using ApplicationCore.Entities
@model IEnumerable<Menu>

@{
    Layout = null;
}

@if (Model != null && Model.Count() > 0)
{
    <div class="container">
        <nav class="flex hidden md:block top-menu text-sm">
            <div class="flex justify-end">
                <ul class="nav top-menu-category">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item"><a href="@item.Url" class="nav-link link-dark px-2">@item.Name</a></li>
                    }

                </ul>
                <ul class="nav text-uppercase pr-2">
                    <li class="nav-item"><a href="/" class="nav-link link-dark px-2">Tiếng việt</a></li>
                    <li class="nav-item"><a href="?lang=en" class="nav-link link-dark px-2">Tiếng anh</a></li>
                    <li class="nav-item"><a href="/admin" class="nav-link link-dark px-2">Đăng nhập</a></li>
                </ul>
            </div>
        </nav>
    </div>
}