@using THPHome.Models.Blocks
@model SponsorBlock

@{
    var id = Guid.NewGuid();
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
@if (Model != null)
{
    <div class="sponsor container">
        <div class="swiper swiper-@id">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Items)
                {
                    <div class="swiper-slide">
                        <a href="@item.Link" class="flex justify-center">
                            <img src="@item.Logo" alt="LOGO" class="sponsor-logo" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper-@id", {
            slidesPerView: 10,
            spaceBetween: 30,
            autoplay: {
                delay: @Model.AutoPlay?.Delay,
                disableOnInteraction: false
            },
            speed: @Model.Speed,
            loop: true,
            breakpoints: {
                320: {
                    slidesPerView: 2
                },
                480: {
                    slidesPerView: 3
                },
                640: {
                    slidesPerView: 4
                },
                1530: {
                    slidesPerView: 8
                }
            }
        });
    </script>
}