@using THPHome.Models.Blocks
@model SponsorBlock

@{
    var id = Guid.NewGuid();
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

@if (Model != null)
{
    <div class="flex flex-col md:flex-row gap-6">

        <div class="w-full md:w-4/12">
            <div class="title affiliate mb-1 uppercase">CÁC ĐƠN VỊ ĐÀO TẠO VÀ ĐỐI TÁC</div>
            <div class="sponsor container">
                <div class="swiper swiper-@id">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Items)
                        {
                            <div class="swiper-slide">
                                <a href="@item.Link" class="flex justify-center items-center h-full">
                                    <img src="@item.Logo" alt="LOGO" class="sponsor-logo" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-4/12">
            <div class="other-sponsor mb-3">
                <div class="title affiliate mb-1" style="text-transform: uppercase">
                    LIÊN KẾT NGOÀI
                </div>
                <div class="swiper swiper-other-@id py-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="https://haiphong.edu.vn/" class="flex justify-center items-center h-full">
                                <img src="https://gv.haiphong.edu.vn/assets/login/login-form/logo-app-hp.svg" alt="Sở GDĐT Hải Phòng" class="sponsor-logo logo-other" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://chinhphu.vn/thong-tin-bo-nganh?gmist=3149" class="flex justify-center items-center h-full">
                                <img src="https://lambangdaihocphoithat.com/wp-content/uploads/2023/08/Bo-Giao-Duc-va-Dao-Tao-890x530.png?v=1693308391" alt="Bộ Giáo dục và Đào tạo" class="sponsor-logo logo-other" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://haiphong.gov.vn/" class="flex justify-center items-center h-full">
                                <img src="https://upload.wikimedia.org/wikipedia/vi/1/1b/Logo_th%C3%A0nh_ph%E1%BB%91_H%E1%BA%A3i_Ph%C3%B2ng.png?20240529135241" alt="Thành phố Hải Phòng" class="sponsor-logo logo-other" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://haiphong.edu.vn/" class="flex justify-center items-center h-full">
                                <img src="~/img/logo-app-hp.svg" alt="Sở GDĐT Hải Phòng" class="sponsor-logo logo-other" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://chinhphu.vn/thong-tin-bo-nganh?gmist=3149" class="flex justify-center items-center h-full">
                                <img src="~/img/Logo-moet.png" alt="Bộ Giáo dục và Đào tạo" class="sponsor-logo logo-other" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://haiphong.gov.vn/" class="flex justify-center items-center h-full">
                                <img src="~/img/Logo_thành_phố_Hải_Phòng.png" alt="Thành phố Hải Phòng" class="sponsor-logo logo-other" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-4/12">
            <div class="title affiliate mb-1 uppercase">ĐỐI TÁC</div>
            <div class="swiper swiper-block3-@id py-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://www.lgdisplay.com" class="flex justify-center items-center h-full">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/LG_logo_%282014%29.svg/2560px-LG_logo_%282014%29.svg.png" alt="Logo Khối 3 - 1" class="sponsor-logo logo-other" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.vietinbank.vn/" class="flex justify-center items-center h-full">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/9/9d/Logo_Vietinbank.png" alt="Logo Khối 3 - 2" class="sponsor-logo logo-other" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://vingroup.net/" class="flex justify-center items-center h-full">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/9/98/Vingroup_logo.svg/1200px-Vingroup_logo.svg.png" alt="Logo Khối 3 - 3" class="sponsor-logo logo-other" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://reginamiracleholdings.com/" class="flex justify-center items-center h-full">
                            <img src="https://reginamiracleholdings.com/wp-content/uploads/2021/11/cropped-Logo.png" alt="Logo Khối 3 - 3" class="sponsor-logo logo-other" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <style>
        .sponsor-logo {
            max-height: 80px;
            max-width: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
        }

            .sponsor-logo.logo-other {
                /* Loại bỏ margin-top 10px để cân bằng dọc tốt hơn với py-5 */
                /* margin-top: 10px; */
                max-height: 70px;
                /* Thêm margin ngang để các logo có khoảng cách nhỏ */
                margin-left: 5px;
                margin-right: 5px;
            }

        .swiper-slide {
            height: 100px !important;
            /* Kích thước slide nhỏ hơn sẽ giúp các logo khít hơn trong Swiper */
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        // JS CỘT 1: CÁC ĐƠN VỊ ĐÀO TẠO VÀ ĐỐI TÁC
        new Swiper(".swiper-@id", {
            // Giữ nguyên 3 logo trên desktop
            slidesPerView: 3,
            // Giảm spaceBetween mặc định để các logo khít hơn
            spaceBetween: 10,
            autoplay: {
                delay: @Model.AutoPlay?.Delay,
                disableOnInteraction: false
            },
            speed: @Model.Speed,
            loop: true,
            breakpoints: {
                // Điều chỉnh spaceBetween nhỏ lại cho tất cả các breakpoint để logo khít hơn
                320: { slidesPerView: 2, spaceBetween: 10 },
                480: { slidesPerView: 3, spaceBetween: 10 },
                640: { slidesPerView: 3, spaceBetween: 10 },
                1024: { slidesPerView: 3, spaceBetween: 10 },
                1530: { slidesPerView: 3, spaceBetween: 10 }
            }
        });

        // JS CỘT 2: LIÊN KẾT NGOÀI (Đã đồng bộ)
        new Swiper(".swiper-other-@id", {
            slidesPerView: 3,
            spaceBetween: 10,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false
            },
            speed: 2000,
            loop: true,
            breakpoints: {
                320: { slidesPerView: 2, spaceBetween: 10 },
                640: { slidesPerView: 3, spaceBetween: 10 },
                1024: { slidesPerView: 3, spaceBetween: 10 }
            }
        });

        // JS CỘT 3: KHỐI THỨ 3 (Đã đồng bộ)
        new Swiper(".swiper-block3-@id", {
            slidesPerView: 3,
            spaceBetween: 10,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false
            },
            speed: 2000,
            loop: true,
            breakpoints: {
                320: { slidesPerView: 2, spaceBetween: 10 },
                640: { slidesPerView: 3, spaceBetween: 10 },
                1024: { slidesPerView: 3, spaceBetween: 10 }
            }
        });
    </script>
}