:root {
    --primary: #727cf5;
    --danger: #fa5c7c;
    --dark: #0e1f4b;
    --red: #D02929;
}

a {
    text-decoration: none;
    color: var(--primary);
}

input:focus {
    outline: none;
}

.main-menu {
    background-color: var(--dark);
}

.footer {
    background-color: var(--dark);
    color: #fff;
    padding: 3rem 0;
}

.footer-divide {
    border-top: 1px solid #979797;
    opacity: 0.2;
}

.footer-bottom {
    padding: 1rem 0;
}

.footer-bottom-link {
    padding-top: 1rem;
    text-transform: uppercase;
}

.footer-bottom-link a {
    padding: 0 1rem;
    text-decoration: none;
    color: #fff;
}

.footer-copyright {
    padding-top: 1rem;
    opacity: 0.7;
}

.title {
    padding: 0.5rem 1rem;
    background-color: var(--dark);
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.title.active {
    background-color: var(--red);
}

.box {
    border: 1px solid #e1e1e1;
    border-radius: 0.25rem;
    text-align: center;
    padding: 1rem;
    margin-top: 0.25rem;
    font-weight: 500;
}

.box:hover {
    background-color: #fafafa;
}

.box .icon {
    font-size: 1.125rem;
}

.carousel-item img {
    height: 200px;
    object-fit: cover;
}

.my-slider img {
    height: 80px;
    object-fit: contain;
}

.nav-brand {
    background-color: var(--red);
}

.top-menu {
    margin-bottom: 0.5rem;
}

.top-menu .nav {
    background-color: var(--dark);
}

.top-menu a {
    color: #fff;
    font-weight: 500;
}

.top-menu a:hover {
    color: #fff;
}

    .top-menu .nav-item:hover {
        background-color: var(--red);
        transition: all;
        transition-duration: 500ms;
    }

    .top-menu-category {
        padding-right: 3rem;
    }

.top-menu-category .nav-item:first-child {
    background-color: var(--red);
}

.main-menu .nav-link {
    padding: 1rem;
}

.main-menu .nav-link:hover {
    background-color: var(--red);
    transition: all;
    transition-duration: 500ms;
}

.counter-wrapper {
    background-color: var(--red);
    color: white;
}

.navbar {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .carousel-item img {
        height: 444px;
    }
}