:root {
    --primary: #101c53;
    --danger: #fa5c7c;
    --darka: #005a9c;
    --dark: #00387a;
    --darko: #0e1f4b;
    --red: #D02929;
    --ueni: #2e74dd;
    --uwhite: #fff;
}

a {
    text-decoration: none;
    color: var(--ueni);
}

.object-fit-cover {
    object-fit: cover;
}

input:focus {
    outline: none;
}

.main-menu {
    background-color: var(--dark);
}

    .main-menu .nav-link {
        color: #fff;
    }

    .main-menu .dropdown-menu, .top-menu .dropdown-menu {
        background: var(--dark);
        margin-top: 0;
        border-radius: 0;
    }

        .main-menu .dropdown-menu a, .top-menu .dropdown-menu a, .main-menu a:focus, .top-menu a:focus {
            color: #fff;
        }

            .main-menu .dropdown-menu a:hover, .top-menu .dropdown-menu a:hover {
                color: var(--uwhite);
                background: var(--darko);
            }

.top-menu .dropdown-menu {
    padding: 0;
}

.footer {
    background-color: var(--dark);
    color: #fff;
    padding: 2rem 0 1rem 0;
    font-size: small;
}

.inline {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
}

.footer svg, .title svg {
    display: unset;
}

.footer-divide {
    border-top: 1px solid #979797;
    opacity: 0.2;
}

.footer-bottom {
    padding: 0 0 1rem 0;
}

.footer-bottom-link {
    padding-top: 1rem;
    text-transform: uppercase;
}

    .footer-bottom-link a {
        padding: 0 1rem;
        text-decoration: none;
        color: #fff;
    }

.footer-copyright {
    padding-top: 1rem;
    opacity: 0.7;
}

.title {
    padding: 0.5rem 1rem;
    background-color: var(--dark);
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: 0.25rem;
}

    .title.active {
        background-color: var(--red);
    }

.box {
    border: 1px solid #e1e1e1;
    border-radius: 0.25rem;
    text-align: center;
    padding: 1rem;
    font-weight: 500;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .box:hover {
        background-color: #fafafa;
    }

    .box .icon {
        font-size: 1.125rem;
    }

.carousel-item img {
    height: 200px;
    object-fit: cover;
}

.my-slider img {
    height: 80px;
    object-fit: contain;
}

.nav-brand {
    background-color: var(--red);
}

.top-menu {
    margin-bottom: 0.5rem;
}

    .top-menu .nav {
        background-color: var(--dark);
    }

    .top-menu a {
        color: #fff;
        font-weight: 500;
    }

        .top-menu a:hover {
            color: #fff;
        }

    .top-menu .nav-item:hover {
        background-color: var(--red);
        transition: all;
        transition-duration: 500ms;
    }

.top-menu-category {
    padding-right: 3rem;
}

    .top-menu-category .nav-item:first-child {
        background-color: var(--red);
    }

.main-menu .nav-link {
    padding: 1rem;
}

    .main-menu .nav-link:hover {
        background-color: var(--red);
        transition: all;
        transition-duration: 500ms;
    }

.counter-wrapper {
    background-color: var(--red);
    color: white;
}

.navbar {
    padding: 0;
}

#myTab .nav-item {
    width: 50%;
    background-color: #eee;
}

#myTab .nav-link {
    width: 100%;
    font-weight: bold;
    color: var(--dark);
}

    #myTab .nav-link.active {
        background-color: var(--dark);
        color: white;
    }

li.dropdown:hover .dropdown-menu {
    display: block !important;
}

.dropdown-mega.show, li.dropdown:hover .dropdown-mega {
    display: none !important;
    justify-content: space-between;
    font-size: 0.875rem;
}

.dropdown-mega .header {
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: block;
}

.dropdown-mega .mega-stack li a {
    padding: 0.5rem 1rem;
    display: block;
}

@media screen and (min-width: 768px) {
    .carousel-item img {
        height: 364px;
    }

    .dropdown-mega.show, li.dropdown:hover .dropdown-mega {
        display: flex !important;
        left: -56px !important;
    }
}

@media screen and (min-width: 1200px) {
    .dropdown-mega.show, li.dropdown:hover .dropdown-mega {
        width: calc(100vw - 478px);
    }
}

@media screen and (min-width: 1400px) {
    .dropdown-mega.show, li.dropdown:hover .dropdown-mega {
        width: calc(100vw - 664px);
    }
}